*{
    color: #fff;
}
.navbar-dark{
    background-color:#9595;
}
body{
    background-color: #000 !important;
}
.jumbotron{
    padding: 70px 30px !important;
    margin: 0px auto;
    background-color: #9595 !important;
}
.breadcrumb{
    background-color: #9595 !important;
}
.cont{
    padding: 50px 20px;
    margin: 0px auto;
}
.row-history, .row-corp{
    padding: 40px 15px;
}
.foot{
    background-color: #9595 !important;
    padding:70px 30px ;
    margin: 0px auto;
}
footer li{
    list-style: none;
}
address{
    font-size: 80%;
    margin: 0px;

}