*{
    color: #fff;
}
.navbar-dark{
    background-color:#341c33;
}
body{
    background-color: #000 !important;
}
.jumbotron{
    padding: 70px 30px !important;
    margin: 0px auto;
    background-color: #9595 !important;
}
.breadcrumb{
    background-color: #9595 !important;
}
.cont{
    padding: 50px 20px;
    margin: 0px auto;
}
.row-history, .row-corp{
    padding: 40px 15px;
}
.row-content{
    padding: 50px 20px;
}
input{
    color: black !important;
}
.foot{
    background-color: #9595 !important;
    padding:70px 30px ;
    margin: 0px auto;
}
footer li{
    list-style: none;
}
address{
    font-size: 80%;
    margin: 0px;

}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}